[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MethodCompare"]
	path = MethodCompare
	url = https://github.com/uberlulu/methodcompare
